{% extends 'base.html' %}

{% block title %}Projects - My Website{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder mb-4">Projects</h1>
        <div class="row gx-5">
            {% for project in projects %}
                {% if project.pk %}  <!-- Pastikan pk ada -->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card border-0 shadow rounded-4">
                            <div class="card-body">
                                <h2 class="card-title">{{ project.title }}</h2>
                                <p class="card-text">{{ project.description }}</p>
                                <p class="text-muted">Date: {{ project.start_date }} - {{ project.end_date }}</p>
                                <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">Detail</a>
                                
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="col-12">
                    <p>No projects found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
